* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

footer{
  clear: both;
}

/*** Header ***/
#navigation_header {
  width: 100%;
  min-height:50px;
  top:0;
  z-index:0px;
}

#nav-container{
  background-color: black;
  width: 100%;
  min-height: 30px;
  padding: 5px;
  position: fixed;
  text-align: center;
  z-index:99999;
}

#nav{
  display: flex;
  font-weight: 700;
  justify-content: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav li{
  padding: 5px 10px 10px 10px;
  background-color: #0f0f0a;
  margin: 0 10px;
  float: inherit;
}

      .name{
        display: none;
        float: left;
        color:white;
      }

a{
  text-decoration: none;
  color: #0499ff;
  font-size: 80%;
}
a:hover{
  color: #6633ff
}

.tag_name{
  background-color:#efefef;
  color: black;
  padding:2px;
  border-radius: 5px;
  display: table;
  margin:2px auto;
  font-size: 95%;
}

/*Main body */

#main_body_header{
  margin-top: -10px;
  text-align: center;
  background: url('../img/code-bg.jpg') no-repeat top center;
  background-size: cover;
  max-height: 200px;
  overflow: hidden;
  line-height: 1.5;
}
#main_body_header .profile-image{
  margin-top:20px;
  width: 95px ;
  height: 95px ;
  border-radius: 50%;
  border: 1px solid white;
  background-color:#331a00;
}
#main_body_header_second{
    margin-top: -10px;
    background: url('../img/code-bg_second.jpg') no-repeat;
    overflow: hidden;
    line-height: 1.5;
    transition: all .5s;
}
#main_body_header_second .profile-image{
  margin-top:15px;
  width: 60px ;
  height: 60px ;
  border-radius: 50%;
  border: 1px solid white;
  background-color:#331a00;
}
.profile-image:hover{
  transform: scale(1.2) rotate(30deg);
}
.card{
  margin:30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  background: #e6e6e6;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;*/
}
.card:hover {
  border-color: #ff99ff;
}
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.mail {
  background-image: url("../img/mail_icon.png");
}
a.linkedin {
  background-image: url("../img/linkedin_icon.png");
}
a.github {
  background-image: url("../img/github_icon.png");
}
a.social:hover {
  opacity: 1;
}
#resume-profile-image{
  height: 35% ;
  width: 35%;
  border-radius: 50%;
  border: 1px solid gray;
  margin: 0 auto;
}
 .personalinfo{
  margin-top: 25px;
  max-height: 350px;
  text-align: left;
  background: #eff0f2;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.contentinfo{
 padding: 10px 40px 20px;
 width: 100%;
 max-width: 100%;
 background: #eff0f2;
 border-radius: 6px;*/
}
.header{
text-align: center;
}
.i-container{
margin:0 10px;
position: relative;
}
.i-row{
margin:0;
overflow:auto;
}

.i-row.header{
margin:0;
}
.i-row.header.title{
margin:0;
text-align: center;
font-weight: bold;
}

.clear{
clear: both;
}

.i-column-25
{
width: 100%;
margin:0;
}

.i-column-75
{
margin: 25px 0;
width: 100%;
background: #e6e6e6;
border-bottom: 4px solid #ccc;
border-radius: 6px;*/
word-wrap: break-word;
}
.left
{
text-align: center;
vertical-align: top;
}
.left.center{
text-align: center;
}
.right
{
text-align: justify;

}
.right.notopmargin{
margin-top: 0;
float: right;
}
.skills-list{
padding-left: 20px;
margin-top: 20px;
}
.italic{
font-style: italic;
}
.bold{
font-weight: bold;
}
p.job-qualify{
margin: 0 5px 0 0;
padding: 0;
float: left;
}
p.workplace-list{
clear: both;
margin-bottom: 10px;
text-align: center;
}
/* #0399ff;#ff9904*/
.about-style {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #0399ff;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.intro {
  background: #ff9904;
  padding: 20px 0;
}

.timeline-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1.timeline-title{
  font-size: 2.0rem;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  margin-left: 20px;
  padding-top: 50px;
  background: #fff;
  text-align: justify;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: calc(100vw - 91px);
  padding: 15px 50px 15px 15px;
  background: #ff9904;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #ff9904 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}
